OPENROUTER_API_KEY=
OPENROUTER_MODEL=qwen/qwen3.8-27b:free
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3002/api/auth/google/callback
GOOGLE_HTTPS_PROXY=http://127.0.0.1:10808
SUPABASE_URL=
SUPABASE_KEY=
ZPAY_PID=
ZPAY_KEY=
ZPAY_TYPE=alipay
ZPAY_MONEY=0.1
NUXT_PUBLIC_SITE_URL=http://localhost:3002
